@config "../../tailwind.config.js";
@import "tailwindcss";


.page-content{
    padding-top: 64px;
}
@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}


@media (prefers-reduced-motion: reduce) {
  .animate-float {
    animation: none;
  }
}